@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English');

html {
    min-height: 100%;
}
body {
    padding:0;
    background-color: #1A1A1A;
    margin:40px auto;
    max-width:1600px;
    font-family: 'IM Fell English', serif;
    color:white;
    display: block;
}
.content-wrapper {
    text-align: center;
    padding: 20px;
}
.logo img {
    margin: auto;
    width: 100%;
    max-width: 1000px;
}
.game-trailer {
    position: relative;
    display: block;
    width: 66%;
    height: 0;
    margin: auto;
    padding: 32px 32px 37.5%;
    overflow: hidden;
}
.game-trailer iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
a:link {
  color: #D3D3D3;
}
a:visited {
  color: #D3D3D3;
}
hr {
    display: block;
    width: 100%;
    height: 8px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}